*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;*/
}
.danna{
    background-color: black;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.darly{
    background-color:beige;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    bottom: 0px;

}
.salome{
    background-color:brown;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.andres{
    background-color:red;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.jose{
    background-color:green;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 46%;
    top: 40%;
}